<!-- app/views/users/new.html.erb -->
<div class="container">
  <h1>Create Your Account</h1>

  <% if @user.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(@user.errors.count, "error") %> prevented this account from being created:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @user, url: signup_path, local: true) do |form| %>
    <div class="field">
      <%= form.label :username %>
      <%= form.text_field :username, required: true, placeholder: "Choose a username" %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, placeholder: "Min. 6 characters" %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation, "Confirm Password" %>
      <%= form.password_field :password_confirmation, required: true, placeholder: "Re-enter your password" %>
    </div>

    <div class="actions">
      <%= form.submit "Create Account" %>
    </div>
  <% end %>

  <div class="links">
    <!-- Add a login link once you create that route -->
    Already have an account? <%= link_to "Log in", "#" %>
  </div>
</div>